@model IEnumerable<tahfez.Models.User>


@{
    ViewData["Title"] = @ViewBag.Type;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="page-section ">
        <div class="container">
            <h1>@ViewBag.Type</h1>
            <p>
                <a class="btn btn-outline-success"  asp-area="Identity" asp-page="/Account/Register" asp-route-Id="@ViewBag.Id">إضافة @ViewBag.Type جديد</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdentificationNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                        @if (item.TypeUser == tahfez.Models.TypeUser.محفظ)
                        {
                                <td>
                                    <a asp-controller="Sessions" asp-action="IndexWithMemorizer" asp-route-Id="@item.Id" >@Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                        }else
                        {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                        }
                            <td>
                                @Html.DisplayFor(modelItem => item.IdentificationNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                            @if (item.DeletedUsers.Count() == 0)
                            {
                                var typeId = (int)item.TypeUser;
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                                    <p style="color:red;cursor: pointer; " >تعطيل الحساب</p>
                                </div>
                                <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                            <div class="modal-body text-center pb-5">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-8">
                                                            <div>
                                                                <i style="height:70px;color:red" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                            </div>
                                                            <p class="mb-4 text-danger">هل أنت متأكد من تعطيل الحساب ؟ </p>
                                                            <a class="btn btn-danger" asp-controller="Home" asp-action="DeleteUser" asp-route-userId="@item.Id" asp-route-typeId = "@typeId">تعطيل الحساب</a>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                                                <i class="fas fa-xmark fa-fw"></i>
                                                                إغلاق النافذة
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                var typeId = (int)item.TypeUser;
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                                    <p style="color:#1abc9c;cursor: pointer; " >تفعيل الحساب</p>
                                </div>
                                <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                            <div class="modal-body text-center pb-5">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-8">
                                                            <div>
                                                                <i style="height:70px;color:green" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                            </div>
                                                            <p class="mb-4 text-danger">هل أنت متأكد من تفعيل الحساب ؟ </p>
                                                            <a class="btn btn-success" asp-controller="Home" asp-action="AddUser" asp-route-userId="@item.Id" asp-route-typeId = "@typeId">تفعيل الحساب</a>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                                                <i class="fas fa-xmark fa-fw"></i>
                                                                إغلاق النافذة
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            </td>
                        </tr>
                }
                </tbody>
            </table>
        </div>
    </section>



