@model tahfezKhalid.Models.DailyReport

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DailyReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.IdentificationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurahSavedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurahSavedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerseSavedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerseSavedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurahSavedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurahSavedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerseSavedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerseSavedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPagesSaved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPagesSaved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurahReviewFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurahReviewFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerseReviewFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerseReviewFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurahReviewTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurahReviewTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerseReviewTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerseReviewTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPagesReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPagesReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReport)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
